.idea
.vscode
.DS_Store
*.iml
*.log
*.elf
~$*.xlsx
*.ldb
*.map
*.iml

DBServer/Log

LoginSrv/ChrLog
LoginSrv/CountLog
LoginSrv/IdLog

LogServer/BaseDir

Mir200/ConLog
Mir200/Log
Mir200/异常日志
Mir200/CQBLog

RunGate/Log
RunGate/发言日志
RunGate/常规日志

登录器/输出文件夹
/.idea/
